RewriteEngine On
RewriteRule ^.+/.+\.php$ - [F,L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/([^.\/]+)\.php [NC]
RewriteRule ^([^.\/]+)\.php$ /$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^.\/]+)$ $1.php [L]
