:root {
	--main: #0770ff;
	--mhov: #4592fd;
	--secn: #07ff70;
	--shov: #7dffb3;
}

* {

	padding: 0;
	margin: 0;

	color: #111;

	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	user-select: none;

	.btn-man, button.btn-man {

		padding: 0.5em;

		color: #fff;
		background-color: var(--main);

		border: none;
		border-radius: 0.5em;

		font-size: large;
		text-decoration: none;
		font-weight: 500;

		cursor: pointer;

		&:hover { background-color: var(--mhov); }

	}

	.btn-sec {

		padding: 0.5em;

		background-color: var(--secn);

		border: none;
		border-radius: 0.5em;

		font-size: large;
		text-decoration: none;
		font-weight: 500;

		cursor: pointer;

		&:hover { background-color: var(--shov); }

	}

	.row {
		display: flex;
		flex-direction: row;
	}

	.col {
		display: flex;
		flex-direction: column;
	}

	input {

		padding: 0.5em;

		border: solid 1px #ccc;
		border-radius: 0.5em;

		outline: none;

	}

	ul li { margin-left: 1em; }

	.errs {

		padding: 1em;
		margin: 1em 0;

		align-items: center;

		border: solid 2px #f00;
		border-radius: 0.5em;

		color: #f00;
		background-color: #fcc;

		font-weight: 500;

		p {
			color: #f00;
		}

	}

	.note {
		padding: 1em;
		margin: 1em 0;

		align-items: center;

		border: solid 2px #00f;
		border-radius: 0.5em;

		color: #00f;
		background-color: #ccf;

		font-weight: 500;

		p {
			color: #00f;
		}
	}

}

html {

	body {

		height: 100vh;

		header {

			padding: 1em;

			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			background-color: var(--main);

			a {
				text-decoration: none;
			}

		}

		main {

			padding: 1em;

			display: flex;
			flex-direction: row;
			/* align-items: center; */
			justify-content: space-around;

			/* background-color: #ff2; */

			/* height: 100%; */

			div {

				width: calc(100% - 4em);

				form {

					width: 50%;

					h2 {margin:1em 0;}

					padding: 1em;

					div {

						label {
							margin: 1em 0;
							font-weight: 500;
						}
						small {
							font-size: xx-small;
							color: #ccc;
						}

						img {
							margin-right: 0.5em;
						}

					}

					button {margin-top: 1em;}

				}

				&.dash-bor {

					margin: 1em;
					padding: 1em;

					border: solid 1px #ccc;
					border-radius: 0.5em;

				}

			}

		}

	}

}